body{
    background-color: black;
}

h1{
    color: white;
    text-decoration: underline;
}
a{
    color: white;
    text-decoration: none;
}
/* #id_tag{
    color: aqua;
}

#id_offer-link{
    color: red;
} */
.Heading{
    color: blue;
    text-decoration: underline;
}
.Heading-sucess{
    color: green;
}
.card{
    width: 30%;
    height: 300px;
    background-color: aquamarine;
    color: black;
}
